body {
  font-family: sans-serif;
  background: #ddd;
}

#main,
#home
{
  width: 98%;
  margin: 0 auto;
}

#sidebar {
  width: 98%;
  float: none;
  position: static;
  margin: 0 auto;
}

#sidebar ul {
	list-style: none;
	padding: 5px 20px;
	background: #5c5c5c;
}

#sidebar li a {
    display: inline-block;
    padding: 10px 10px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    letter-spacing: 0.1em;
    line-height: 2em;
    height: 2em;
    border-bottom: 1px solid #383838;
}

#sidebar li:last-child a {
    border-bottom: none;
}

#sidebar li a:hover,
#sidebar li a:focus {
    color: #1c1c1c;
    background: #ccc;
}

[badge]:after {
  background: #464646;
  border-radius: 30px;
  color: #fff;
  content: attr(badge);
  font-size: 8pt;
  margin-top: 15px;
  min-width: 20px;
  padding: 5px;
  position: absolute;
  text-align: center;
}

[badge^="-"]:after,
[badge="0"]:after,
[badge=""]:after {
  display: none;
}

#header {
  width: 80%;
  margin:0 auto;
  margin-top: 20px;
  text-align: center;
  font-size: 24pt;
  text-shadow: 2px 2px 2px #555;
}

#header hr {
  margin: 15px 0 15px 0;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

a:link,
a:visited,
a:active,
a:hover
{
  color: #933;
}

#header a:link,
#header a:visited,
#header a:active,
#header a:hover
{
  text-decoration: none;
  color: #000;
}

#footer {
  text-align: center;
  color: #fff;
  margin-top: 50px;
}

#pagination {
  width: 100%;
  text-align: center;
  padding-top: 30px;
}

#pagination a {
  font-weight: bold;
  padding: 5px 10px 5px 10px;
}

#pagination a:link,
#pagination a:visited,
#pagination a:active,
#pagination a:hover
{
  text-decoration: none;
}



a.heading-anchor:link,
a.heading-anchor:visited,
a.heading-anchor:active,
a.heading-anchor:hover
{
  text-decoration: none;
  font-size: x-small;
  vertical-align: top;
}

#home a.heading-anchor:link,
#home a.heading-anchor:visited,
#home a.heading-anchor:active,
#home a.heading-anchor:hover
{
  visibility: hidden;
}

.post {
  background: #eee;
  padding: 10px;
  margin-bottom: 20px;
}

.post img {
  max-width: 100%;
}

.post-title a, h1 {
  text-shadow: 1px 1px 1px #777;
  color: #222;
  text-decoration: none;
}

h2 {
  font-size: 16pt;
}

pre {
  overflow: auto;
  padding: 10px;
}

.left {
  float: left;
  margin-left: 10%;
}

.right {
  float: right;
  margin-right: 10%;
}

.left a,
.right a {
    color: #fff;
    background: #4e4e4e;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    font-size: 20px;
    line-height: 22px;
    height: 22px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.left a.to_nav:hover,
.left a.to_nav:focus,
.right a.to_nav:hover,
.right a.to_nav:focus {
    color: #1c1c1c;
    background: #ccc;
}

.middle {
}

.license {
  font-size: 10pt;
}

.license a {
  color: #fff;
}

.powered {
  font-size: 8pt;
  color: #1c1c1c;
}

