body {
  font-family: sans-serif;
  background: #fff;
}
a:link, 
a:visited,
a:active,
a:hover 
{
  color: #933;
}

a:after { content: " ["attr(href)"]"; font-size: 90%;}

#header {
  width: 100%;
  text-align: center;
  font-size: 20pt;
  text-shadow: 1px 1px 1px #555;
}

#header a:link, 
#header a:visited, 
#header a:active, 
#header a:hover 
{
  text-decoration: none;
  color: #000;
}

#header hr {
  border-top: 1px dashed;
  margin: 20px 0 0 0;
}

#footer {
  text-align: center;
  color: #fff;
  margin-top: 50px;
}

#pagination {
  display: none;
}

#main,
#home
{
  width: 100%;
  font-size: 12pt;
}

#sidebar {
  display: none;
}

.post {
  background: #eee;
  padding: 10px;
  margin-bottom: 20px;
}

.post-title a, h1 {
  text-shadow: 1px 1px 1px #777;
  color: #222;
  text-decoration: none;
}

.left {
  float: left;
  margin-left: 30%;
}

.right {
  float: right;
  margin-right: 30%;
}

.middle {
}

.license {
  font-size: 10pt;
}

.license a {
  color: #fff;
}

#impressumlink {
  display: none;
}

