{{ partial "header.html" . }}

<section id="main">
  <div>
   <h1 id="title">{{ .Title }}</h1>
        <ul id="list">
            {{ range .Pages }}
              <li><a href="{{ .Permalink }}">{{ .Title }}</a> <time>{{ .Date.Format .Site.Params.dateform }}</time>
            {{ end }}
        </ul>
  </div>
</section>

{{ partial "footer.html" . }}
