{{ partial "header.html" . }}

<section id="main" class="post">
  <h1 id="title" class="post-title">{{ .Title }}</h1>
    <article id="content">
        {{ .Content }}
    </article>

<aside id="meta">
    <div>
    <section>
      <h4 id="date"> {{ .Date.Format .Site.Params.dateform }} </h4>
      <h5 id="wc"> {{ .FuzzyWordCount }} Words </h5>
    </section>
    <ul id="categories">
      Kategorien:
      {{ range .Params.category }}
        <li><a href="{{ $.Site.BaseURL }}category/{{ . | urlize }}">{{ . }}</a> </li>
      {{ end }}
    </ul>
    <div id="tags">
      Tags: 
        {{ range .Params.tag }}
          <a href="{{ $.Site.BaseURL }}tag/{{ . | urlize }}">{{ . }}</a>&nbsp;
        {{ end }}
      </div>
    </div>
    <div id="related">
      {{ $related := .Site.RegularPages.Related . | first 5 }}
      {{ with $related }}
      <h3>Siehe auch</h3>
      <ul>
        {{ range . }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>
      {{ end }}
    </div>
    <div>
        {{ if .Prev }}
        Vorheriger Artikel: <a class="previous" href="{{.Prev.Permalink}}"> {{.Prev.Title}}</a><br />
        {{ end }}
        {{ if .Next }}
          Nächster Artikel: <a class="next" href="{{.Next.Permalink}}"> {{.Next.Title}}</a>
        {{ end }}
    </div>
</aside>
</section>

{{ partial "footer.html" . }}
