    {{ partial "sidebar.html" . }}
    <div id="footer">
      <div class="license">{{ .Site.Copyright | safeHTML }}</div> <br />
      <div class="powered">Powered by <a href="http://gohugo.io/">Hugo</a></div><br />
      <a id="impressumlink" href="/impressum">Impressum</a>
    </div>
    {{ if $.Site.Params.piwikurl }}
    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//{{ $.Site.Params.piwikurl }}/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', {{ $.Site.Params.piwiksite }}]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="//{{ $.Site.Params.piwikurl }}/piwik.php?idsite={{ $.Site.Params.piwiksite }}" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->
  {{ end }}
  </body>
  <!-- Carpe noctem -->
</html>
