<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ .Title }}</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    {{ with .OutputFormats.Get "rss" -}}
      {{ printf `<link rel="%s" type="%s" href="%s" title="%s teaser text feed" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
    {{ with .OutputFormats.Get "rss-full" -}}
      {{ printf `<link rel="%s" type="%s" href="%s" title="%s full text feed" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
    {{ hugo.Generator }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <link rel="stylesheet" type="text/css" href="/css/style.css" media="only screen and (min-width: 601px)">
    <link rel="stylesheet" type="text/css" href="/css/mobile.css" media="only screen and (max-width: 600px)">
    <link rel="stylesheet" type="text/css" href="/css/print.css" media="print">
    {{ if $.Site.Params.piwikurl }}
    <link rel="dns-prefetch" href="//{{ $.Site.Params.piwikurl }}">
    {{ end }}
  </head>
  <body>
    <div id="header">
      <a href="{{ .Site.BaseURL }}">{{ .Site.Title }} &#183; {{ .Site.Params.description }}</a>
      <hr />
    </div>
