<div id="pagination">
  <span class="left">
    {{ if .Paginator.HasPrev }}
    <a href="{{ .Paginator.First.URL }}" title="erste Seite">&#10218;</a> 
    <a href="{{ .Paginator.Prev.URL }}" title="voherige Seite">&#10216;</a>
    {{ else }}
      &nbsp;
    {{ end }}
  </span>

  <span class="right">
    {{ if .Paginator.HasNext }}
    <a href="{{ .Paginator.Next.URL }}" title="nächste Seite">&#10217;</a>
    <a href="{{ .Paginator.Last.URL }}" title="letzte Seite">&#10219;</a>
    {{ else }}
      &nbsp;
    {{ end }}
  </span>

  <span class="middle">
    Seite {{ .Paginator.PageNumber }}
  </span>
  <div style="clear:both;"></div> 
</div>
