<div id="sidebar">
  <h4>Kategorien</h4>
    <ul id="categories">
      {{ range $name, $value := .Site.Taxonomies.category }}
      <li>
        <img src="/logos/{{ $name | urlize }}.svg" height="16px" width="16px"> <span badge="{{ .Count }}"><a href="/category/{{ $name | urlize }}">{{ $name }}</a></span>
      </li>
      {{ end }}
    </ul>
  {{ if $.Site.Params.blogroll }}
  <h4>Blogroll</h4>
    <ul id="blogroll">
    {{ range $.Site.Params.blogroll }}
    <li>{{ . | safeHTML }}</li>
    {{ end }}
  </ul>
  {{ end }}
</div>
