{{ partial "header.html" . }}

<div id="home">
<section id="content">
  {{ range (.Paginate (where .Site.Pages "Type" "post")).Pages }}
  {{ if .IsPage }}
    <div class="post">
      <h1 class="post-title">
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </h1>
      <span class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
      {{ .Content }}
    </div>
  {{ end }}
  {{ end }}
</section>

{{ partial "pagination.html" . }}
</div>
{{ partial "footer.html" . }}
